/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #FF0070;
  --btn-color: var(--accent-color);
  --hover-color: rgba(255, 0, 112, 0.4);
  --h1-color: #DB00FF;
  --h2-color: var(--accent-color);
  --accent-text-color: #000028;
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --bg-image-url: url('../images/cover-image-dark.png');
}

.theme-dark .header__decor {
  display: flex;
}