/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --hover-color: rgba(50, 49, 45, 0.4);
  --btn-color: var(--text-color);
  --h1-color: #ffc2e6;
  --h2-color: var(--text-color);
  --accent-text-color: #353430;
  --bg-color: #fff1f7;
  --bg-image-url: url("../images/cover-image-light.png");
}

.theme-light .header__decor {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --hover-color: rgba(50, 49, 45, 0.4);
    --btn-color: var(--text-color);
    --h1-color: #ffc2e6;
    --h2-color: var(--text-color);
    --accent-text-color: #353430;
    --bg-color: #fff1f7;
    --bg-image-url: url("../images/cover-image-light.png");
  }

  .header__decor {
    display: none;
  }
}
