.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  background-color: var(--bg-color);
  background-image: var(--bg-image-url);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  margin-block-end: calc(2 * var(--offset-md));
  padding: var(--offset-sm);
  -webkit-margin-after: calc(2 * var(--offset-md));
  block-size: 100vh;
  inline-size: 100vw;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--offset-sm);
  right: var(--offset-sm);
  border-inline-end: 1px solid var(--btn-color);
  border-block-start: 1px solid var(--btn-color);
  inline-size: var(--corner-size);
  block-size: var(--corner-size);
  -webkit-border-before: 1px solid var(--btn-color);
  -webkit-border-end: 1px solid var(--btn-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--offset-sm);
  left: var(--offset-sm);
  border-inline-start: 1px solid var(--btn-color);
  border-block-end: 1px solid var(--btn-color);
  inline-size: var(--corner-size);
  block-size: var(--corner-size);
  -webkit-border-after: 1px solid var(--btn-color);
  -webkit-border-start: 1px solid var(--btn-color);
}

.header__decor {
  position: absolute;
  top: var(--offset-sm);
  right: var(--decor-offset-right-sm);
  display: flex;
  align-items: center;
  gap: var(--offset-sm);
  color: var(--accent-color);
  line-height: var(--corner-size);
}

.header__decor::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 4px var(--accent-color);
  background-color: var(--accent-color);
  block-size: 9px;
  inline-size: 9px;
}

.header__theme-menu {
  gap: 10px;
  grid-column: 2;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--offset-sm);
}

.header__theme-menu-button {
  border: none;
  inline-size: 70px;
  color: var(--btn-color);
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--btn-color);
}

.header__theme-menu-item:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus-visible {
  margin-bottom: -1px;
  border-bottom: 1px solid var(--btn-color);
  outline: none;
}

.header__title {
  grid-column: span 2;
  margin-inline-start: var(--inset-sm);
  color: var(--h1-color);
  font-size: var(--header-title-size-mobile);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color);
  -webkit-margin-start: var(--inset-sm);
}

.title-decor {
  color: var(--accent-text-color);
  font-weight: bold;
  background-color: var(--accent-color);
}

.header__paragraph {
  grid-column: span 2;
}

.content {
  padding-inline: var(--offset-sm);
}

section {
  margin-block-end: var(--offset-lg);
  -webkit-margin-after: var(--offset-lg);
}

h2 {
  margin-block-end: var(--offset-md);
  color: var(--h2-color);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  -webkit-margin-after: var(--offset-md);
}

.cards-list {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.card__title {
  margin-block-end: var(--offset-sm);
  -webkit-margin-after: var(--offset-sm);
}

.advices__subtitle {
  margin-block-end: var(--offset-md);
  -webkit-margin-after: var(--offset-md);
}

.card__title,
.advices__subtitle {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

h4.card__title {
  font-weight: 200;
}

a {
  position: relative;
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
}

a:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  display: inline;
  border-bottom: 1px solid var(--text-color);
  inline-size: 100%;
}

a:focus {
  outline: 1px solid var(--text-color);
}

a:focus-visible {
  outline: none;
}

.gallery__title {
  margin-block-end: var(--offset-sm);
}

.gallery__list {
  display: grid;
  grid-template-columns: 1fr;
  align-items: stretch;
  gap: var(--offset-sm);
  inline-size: 100%;
}

.gallery__item img {
  display: block;
  margin: 0;
  -o-object-fit: cover;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.gallery {
  margin-block-end: calc(2 * var(--offset-md));
  -webkit-margin-after: calc(2 * var(--offset-md));
}

.footer {
  position: relative;
  display: grid;
  place-items: center;
  block-size: 100vh;
  inline-size: 100vw;
}

.footer__logo {
  grid-column: span 2;
  margin-block-start: var(--offset-sm);
  color: var(--h1-color);
  font-size: var(--footer-logo-size);
  line-height: 0.825;
  text-shadow: 2px 2px 0 var(--accent-color);
  -webkit-margin-before: var(--offset-sm);
}

@media (min-width: 768px) {
  .header {
    grid-template-columns: 1fr 1fr;
    padding: var(--offset-md);
    margin-block-end: calc(3 * var(--offset-md));
  }

  .header__paragraph {
    grid-column: 2;
    grid-row: 3;
  }

  .decorated-zone::before {
    top: var(--offset-md);
    right: var(--offset-md);
  }

  .decorated-zone::after {
    bottom: var(--offset-md);
    left: var(--offset-md);
  }

  .header__decor {
    top: var(--offset-md);
    right: var(--decor-offset-right-md);
  }

  .header__title {
    margin-inline-start: var(--inset-md);
    font-size: var(--header-title-size-desktop);
    -webkit-margin-start: var(--inset-md);
  }

  .content {
    padding-inline: var(--offset-md);
  }

  section {
    margin-block-end: var(--offset-xl);
    -webkit-margin-after: var(--offset-xl);
  }

  .problems,
  .reasons,
  .advices {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start;
    -moz-column-gap: var(--offset-md);
    column-gap: var(--offset-md);
  }

  .reasons__list {
    grid-column: span 2;
  }

  .advices__title {
    grid-row: span 3;
  }

  .advices__list {
    grid-column: 2;
  }

  .gallery {
    margin-block-end: calc(3 * var(--offset-md));
    -webkit-margin-after: calc(3 * var(--offset-md));
  }

  .gallery__title {
    margin-block-end: var(--offset-md);
    -webkit-margin-after: var(--offset-md);
  }

  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--offset-md);
  }

  .gallery__item:first-of-type {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .gallery__item:nth-of-type(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__item:nth-of-type(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery__item:nth-of-type(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__item:last-of-type {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .footer__logo {
    font-size: var(--header-title-size-desktop);
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    grid-column: span 2;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .reasons {
    grid-template-columns: repeat(3, 1fr);
  }

  .reasons__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 3;
    gap: var(--offset-md);
  }

  .gallery {
    margin-block-end: calc(var(--offset-lg) + 1px);
    -webkit-margin-after: calc(var(--offset-lg) + 1px);
  }
}
